
.navbar {
    background-color: #FBF7E3;
    border-radius: 55px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 33px;
}

.nav-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-button {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #F3DF85;
    color: #612406;
    border: none;
    border-radius: 55px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    transition: background-color 0.3s;
    flex: 1;
    font-weight: bold;
}

.nav-button:hover {
    background-color: #e68a00;
}

.shop-button {
    font-size: 22px;
    display: flex;
    align-items: center;
    flex: 5;
    padding: 25px;
    column-gap: 15px;
}
.shop-button img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.nowrap {
    white-space: nowrap;}
    