body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.product-card {
    width: 250px;
    border: 1px solid #FBF7E3;
    border-radius: 25%;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #FBF7E3;
}

.product-image {
    width: 100%;
    height: auto;
}

.product-info {
    padding: 15px;
}

.card-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-content {
    display: flex;
    flex-direction: column;
}

.card-text h3 {
    margin: 0;
    color: #612406;
}

.card-text p {
    margin: 5px 0;
    color: #612406;
    text-align: center;
}

.price {
    font-size: 1.2em;
    color: #612406;
    margin-left: 20px;
}

.add-to-cart {
    width: 60%;
    padding: 10px 0;
    margin-top: 10px;
    background-color: #F3DF85;
    color: #612406;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
    margin-left: 20%;
}

.add-to-cart:hover {
    background-color: #e68a00;
}